.menu {
    display: flex;
    justify-content: left;
    background-color: black;
}

.ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1ee05;
}

li {
    list-style-type: none;
    /* убирает точку перед элементом списка*/
    float: left;
    /*каждый следующий элемент списка должен размещаться справа от предыдущего*/
    margin: 0;
}

li a {
    font-size: larger;
    color: blue;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-radius: 15px;
}

li a:hover {
    background-color: #f0ec0f;
}